@import url("https://fonts.googleapis.com/css?family=Unica+One|Raleway");
html, body {
  margin: 0;
  background-color: #02111B; }

#container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto; }
  #container h1 {
    font-family: "Unica One", cursive;
    font-weight: normal;
    color: #F0544F;
    text-align: center; }

.errorMsgs {
  display: block;
  text-align: center;
  margin: 20px;
  color: #F0544F;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em; }
  .errorMsgs.big {
    font-size: 1.3em; }
  .errorMsgs.bright {
    color: #FFEEDB; }

#loader {
  text-align: center;
  color: #F0544F; }

.departures {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  padding: 0 20px;
  box-sizing: border-box; }
  .departures h3 {
    font-weight: normal;
    font-family: "Raleway", sans-serif;
    color: #FFEEDB;
    text-align: center;
    font-size: .9em;
    margin: 0 0 15px 0; }
  .departures .depTables {
    display: block;
    border-radius: 3px;
    overflow: hidden; }
    .departures .depTables .depTablesH {
      background-color: #F0544F;
      padding: 8px 0;
      text-align: center;
      font-family: "Raleway", sans-serif;
      color: #FFEEDB; }
    .departures .depTables .depTablesR {
      padding: 10px 15px;
      overflow: hidden;
      color: #FFEEDB;
      font-size: 1.2em; }
      .departures .depTables .depTablesR:nth-child(odd) {
        background-color: #273239; }
      .departures .depTables .depTablesR:nth-child(even) {
        background-color: #19262F; }
      .departures .depTables .depTablesR .depsLines {
        width: 75%;
        float: left;
        font-family: "Raleway", sans-serif; }
        .departures .depTables .depTablesR .depsLines .lineNumbers {
          font-family: "Unica One", cursive;
          font-weight: bold; }
      .departures .depTables .depTablesR .depsExpecteds {
        width: 25%;
        float: left;
        text-align: right;
        font-family: "Unica One", cursive; }
      .departures .depTables .depTablesR .errors {
        font-family: "Raleway", sans-serif;
        color: #F0544F;
        text-align: center;
        display: block;
        width: 100%; }
  .departures .departureCircles {
    display: block;
    background-color: #F0544F;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden; }
    .departures .departureCircles h4 {
      font-family: "Unica One", cursive;
      font-weight: bold;
      color: #02111B;
      font-size: 30px;
      padding-top: 20px;
      line-height: 30px;
      margin: 0; }
    .departures .departureCircles span {
      font-family: "Raleway", sans-serif;
      color: #19262F;
      font-size: .9em;
      font-style: italic;
      margin-top: 5px;
      display: block;
      text-overflow: ellipsis;
      width: 95%;
      white-space: nowrap;
      overflow: hidden; }
    .departures .departureCircles p {
      margin: 10px auto 0 auto;
      font-family: "Unica One", cursive;
      font-size: 1.4em;
      color: #FFEEDB; }

/*# sourceMappingURL=style.css.map */
