@import url('https://fonts.googleapis.com/css?family=Unica+One|Raleway');

// Color palette: https://coolors.co/f2f3d9-02111b-f0544f-ffeedb-dc9e82

$mainFont: 'Raleway', sans-serif;
$stylishFont: 'Unica One', cursive;

$red: #F0544F;
$white: #FFEEDB;
$weakDarkBlue: #19262F;
$darkBlue: #02111B;

html, body {
  margin: 0;
  background-color: $darkBlue;
}

#container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

  h1 {
    font-family: $stylishFont;
    font-weight: normal;
    color: $red;
    text-align: center;
  }
}

.errorMsgs {
  display: block;
  text-align: center;
  margin: 20px;
  color: $red;
  font-family: $mainFont;
  font-size: 1.1em;

  &.big {
    font-size: 1.3em;
  }

  &.bright {
    color: $white;
  }
}

#loader {
  text-align: center;
  color: $red;
}

.departures {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  padding: 0 20px;
  box-sizing: border-box;

  h3 {
    font-weight: normal;
    font-family: $mainFont;
    color: $white;
    text-align: center;
    font-size: .9em;
    margin: 0 0 15px 0;
  }

  .depTables {
    display: block;
    border-radius: 3px;
    overflow: hidden;

    .depTablesH {
      background-color: $red;
      padding: 8px 0;
      text-align: center;
      font-family: $mainFont;
      color: $white;
    }

    .depTablesR {
      padding: 10px 15px;
      overflow: hidden;
      color: $white;
      font-size: 1.2em;

      &:nth-child(odd) {
        background-color: #273239;
      }

      &:nth-child(even) {
        background-color: #19262F;
      }

      .depsLines {
        width: 75%;
        float: left;
        font-family: $mainFont;

        .lineNumbers {
          font-family: $stylishFont;
          font-weight: bold;
        }
      }

      .depsExpecteds {
        width: 25%;
        float: left;
        text-align: right;
        font-family: $stylishFont;
      }

      .errors {
        font-family: $mainFont;
        color: $red;
        text-align: center;
        display: block;
        width: 100%;
      }
    }
  }

  .departureCircles {
    display: block;
    background-color: $red;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;

    h4 {
      $font-size: 30px;
      font-family: $stylishFont;
      font-weight: bold;
      color: #02111B;
      font-size: $font-size;
      padding-top: 20px;
      line-height: $font-size;
      margin: 0;
    }

    span {
      font-family: $mainFont;
      color: $weakDarkBlue;
      font-size: .9em;
      font-style: italic;
      margin-top: 5px;
      display: block;
      text-overflow: ellipsis;
      width: 95%;
      white-space: nowrap;
      overflow: hidden;
    }

    p {
      margin: 10px auto 0 auto;
      font-family: $stylishFont;
      font-size: 1.4em;
      color: $white;
    }
  }
}